/* basic colors. aim-on-состояние нажатия */
:root {
  --basic-white: #F2F2F2;
  --basic-header: #EEEEEE;
  --button-pease: #FB565A;
  --button-aim-on: #E74246;
  --button-push: #D7373B;
  --button-green-pease: #00CA74;
  --button-green-aim-on: #00BC6C;
  --button-green-push: #00AA62; 
  --button-yellow-pease: #EFC84A;
  --button-yellow-aim-on: #EAB534;
  --button-yellow-push: #E5A722;
  --link-aim-on: #EAB534;
  --social-network-icon: #FFFFFF;
  --usualtext-color:#283136;
  --bigtext-color:#000000;
  --button-catalog-aim-on: #DFDFDF;
  --button-push: #D5D5D5;
  
}

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v20-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v20-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v20-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/roboto-v20-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
       
}

body{
    min-width: 960px;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	color: var(--usualtext-color);
	background-color: var(--basic-white: #F2F2F2);
}
a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
ul{
list-style: none;
}

.main-header {
	background: var(--basic-header);
}

.main-navigation {
	font-size: 16px;
	
}

.main-navigation-wrapper {
	color: var(--bigtext-color);
}

/* header */
.link-menu a{
	color: var(--bigtext-color);
}

.link-navigation a:hover,
.link-navigation a:focus {
	color: var(--button-pease);
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* features */
.features {
	text-align: center;
	color: var(--usualtext-color);
}
.features-h3 {
	font-size: 24px;
	color: var(--bigtext-color);
}
.big-text {
	font-size: 45px;
	color: var(--bigtext-color);
}

/*all button */
.button-red {
	font-size: inherit;
	text-align: center;
	color: var(--social-network-icon);
	background-color: var(--button-pease);
	border:none;
}
.button-red:hover,
.button-red:focus {
	background-color: var(--button-aim-on);
}

.button-red:active {
	background-color: var(--button-push);
}

.button-green {
	font-size: inherit;
	text-align: center;
	color: var(--social-network-icon);
	background-color: var(--button-green-pease);
	border:none;
}
.button-green:hover,
.button-green:focus {
	background-color: var(--button-green-aim-on);
}

.button-green:active {
	background-color: var(--button-green-push);
}
.button-yellow {
	font-size: inherit;
	text-align: center;
	color: var(--social-network-icon);
	background-color: var(--button-yellow-pease);
	border:none;
}
.button-yellow:hover,
.button-yellow:focus {
	background-color: var(--button-yellow-aim-on);
}

.button-yellow:active {
	background-color: var(--button-yellow-push);
}

.button-filter {
	font-size: inherit;
	text-align: center;
	color: var(--bigtext-color);
	background-color: var(--basic-header);
	border:none;
}

.button-filter:hover,
.button-filter:focus {
	background-color: var(--button-catalog-aim-on);
}

.button-filter:active {
	background-color: var(--button-push);
}

.popup input {
  font: inherit;
  
}

.popup input:focus {
  font: inherit;
  border: 2px solid var(--basic-black);
}

/*footer*/

.footer-text {
	font-size: 36px;
	color: var(--bigtext-color);
}

.footer-icon:hover,
.footer-icon:focus
{
border:none;	
color: var(--basic-white);
background-color: var(--social-network-icon);
}