/* basic colors. aim-on-состояние нажатия */
:root {
  --basic-white: #F2F2F2;
  --basic-header: #EEEEEE;
  --button-pease: #FB565A;
  --button-aim-on: #E74246;
  --button-push: #D7373B;
  --button-green-pease: #00CA74;
  --button-green-aim-on: #00BC6C;
  --button-green-push: #00AA62; 
  --button-yellow-pease: #EFC84A;
  --button-yellow-aim-on: #EAB534;
  --button-yellow-push: #E5A722;
  --link-aim-on: #EAB534;
  --social-network-icon: #FFFFFF;
  --usualtext-color:#283136;
  --bigtext-color:#000000;
  --button-catalog-aim-on: #DFDFDF;
  --button-push: #D5D5D5;
  --radio-chekbox-botton: #4D4D4D;
  
}

/* roboto-regular - latin_cyrillic */
@font-face {
  font-weight: 400;
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-weight: 500;
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff");
}

body{
    min-width: 960px;
    margin: 0 auto;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	color: var(--usualtext-color);
	background-color: var(--basic-white: #F2F2F2);
	text-transform: initial;
	
}
a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
ul{
list-style: none;
}


/* хедер */
.main-header {
	background: var(--basic-header);
    margin-left: auto;
    margin-right: auto;
        
}

.main-navigation {
	font-size: 16px;
	display: flex;

	
}

.main-navigation a {
	color: var(--bigtext-color);

}

.main-navigation img {
	margin-left: 374px;
	margin-top: 49px;

}

.link-navigation a:hover,
.link-navigation a:focus {
	color: var(--button-pease);
}

.link-navigation a:active {
	opacity: 0.3;
}


.logo:hover {
	opacity: 1;
}

.logo:active  {
	opacity: 0.3;
}


.link-navigation a
{
 	margin: 21px;
}
.link-navigation {
	align-self: center;
	margin-left: 181px;
	margin-top: 60px;
}
.link-navigation a:last-child {
	margin-left: 255px;
}

.login-icon  {
	position: relative;
}

.login-icon::before {
content: "";	
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  position: absolute;
  left:-40px;
  
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.h1 {
	padding-bottom: 52px;
	margin-top: 20px;
	margin-left: -35px;
    
    font-weight: 500;
    font-size: 55px;
    line-height: 3;
    text-align: center;
	color: var(--bigtext-color);
}

/* наши работы */
.features {
text-align: left;
color: var(--usualtext-color);
display: flex;
flex-direction: row;
justify-content: center;
width: 1200px;
margin: 0;
flex-wrap: wrap;
margin-left: 373px;
}

.picture {
	margin: 0;
	
}

.features-block {
	margin-right: 100px;
	margin-top: 17px;
}

.features-text {
	margin-top: -5px;
	margin-left: 0px;
}

/*о нашей компании*/

.features-list {
display: grid;
grid-template-columns: 370px 800px;
grid-template-rows: 155px 155px 155px 155px;


}

.features-column::before{

	content: "";
	position: absolute;
	width: 1158px;
	height: 2px;
	bottom: 0;
	left: 50%;
	background-color: #eeeeee;
	margin-left: -400px;
	margin-bottom: 230px;
}


.features-column{

	grid-row-start:2;
	grid-row-end: 2; 
	grid-column-start:2;
	grid-column-end: 2;
	position: relative;
}



.company-description {
	margin-top: 25px;
	margin-bottom: 0px;
	margin-left: 4px;
}

.features-about {
display: flex;
flex-direction: column;
flex-wrap: wrap;

}

.big-text {
	font-size: 45px;
	color: var(--bigtext-color);
	margin-top: -2px;
	margin-bottom: 0px;
	margin-left: 5px;
}

.big-subtitle {
	padding-top: 37px;
	margin-left: 4px;
	font-weight: 600;
}

.description-list {
  margin: 4px;
  padding-left: 0;
  padding-top: 10px;

}

.list-item:not(:last-child) {
  margin-bottom: 30px;
}

.list-item::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 2px;
  margin-top: 11px;
  margin-right: 8px;
  vertical-align: top;
  background-color: #fb565a;
}

.mini-logo {
	margin-left: 4px;
	margin-top: -35px;
	margin-bottom: 0px;
}

.statistic-text {
	margin-top: 38px;
	margin-left: 20px;
	text-transform: uppercase;
	font-weight: 700;
}

.table {
	font-size: 45px;
	color: var(--bigtext-color);
	margin-top: 36px;
	margin-bottom: 0px;
	margin-left: 0px;
}

sup {
	font-size: 26px;
	margin-left: -15px;
}

.table-number{
	font-weight: 500;
	line-height: normal;

}

.table-desription {
	font-size: 16px;
}

.table-about {
	width: 115px;
	padding-top: 12px;
}

.features-advantages { 
	grid-row-start:2;
	grid-column-start:3;

}

.features-advantages span {
	font-size: 16px;
}

/*клиенты*/

.client-block {
	position: relative;
	margin-bottom: 60px;
}
.client-block::before {
	content: "";
	position: absolute;
	width: 1158px;
	height: 2px;
	bottom: 0;
	left: 50%;
	background-color: #eeeeee;
	margin-left: -575px;
	margin-bottom: 200px;
	
}
.client-block::after {
	content: "";
	position: absolute;
	width: 1158px;
	height: 2px;
	bottom: 0;
	left: 50%;
	background-color: #eeeeee;
	margin-left: -579px;
	margin-bottom: 18px;
	
}

.client { 
	text-align: center;
	height: 189px;
	margin: auto;
	display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  min-height: 180px;
  
	 
}

.client-about {
  position: relative;
  left: 327px;
  
}

.client-about:nth-child(n+1) {
  width: 296px;
}

.client-about:not(:nth-child(4n))::after {
  content: "";
  position: absolute;
  right: 7px;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
}

.client-link {
  opacity: 0.3;
}

.client-link:hover,
.client-link:focus {
  opacity: 1;
}

.client-link:active {
  opacity: 0.1; 
}


/*карта*/
.map {
	width: 100%;
	height: 416px;
	margin: auto;
	position: relative;

}

.map-marker {
	position: absolute;
	z-index: 1;
	left: 1056px;
	bottom: 140px;
}

/*контакты*/


.contacts {
  position: absolute;
  bottom: 50px;
  left: 375px;
  z-index: 2;
  width: 270px;
  background-color: #ffffff;
  padding-top: 50px;
  padding-left: 49px;
  padding-bottom: 50px;
  


}

.contacts-text {
  margin-top: 0;
  margin-bottom: 22px;
  font-size: 18px;
  line-height: 1.667;
  
}

.contacts-adres,
.contacts-phone a {
  line-height: 1.125;
  color: #666666;
}

.contacts-adres {
  margin-bottom: 18px;
  
}

.contacts-phone {
  margin-top: 0;
  margin-bottom: 38px;
}

.contacts-button {
  padding-right: 44px;
  padding-left: 44px;
  font-size: inherit;
  text-align: center;
  color: var(--social-network-icon);
  background-color: var(--button-pease);
  border:none;
  width: 220px;
  height: 50px;
  border-radius: 3px;
}
.contacts-button:hover,
.contacts-button:focus {
	background-color: var(--button-aim-on);
}

.contacts-button:active {
	background-color: var(--button-push);
}

.features-h3 {
	font-size: 24px;
	color: var(--bigtext-color);
	margin-left: 0px;
	margin-top: 22px;
	
}


/*баннеры*/ 
.banner-position 
{
display: flex;
background: var(--basic-header);
width: 100%;
margin: 0 auto;
margin-bottom: 63px;
}

.banner-content {
align-items: flex-start;
display: flex;
flex-direction: column;
padding: 30px;
margin-top: 163px;
}

.banner-block {
	width: 1200px;
	margin: 0 auto;
	margin-bottom: -63px;
}
.bannerh3 {
	font-size: 55px;
    margin-top: -125px;
    text-transform: none;
    font-weight: 500;
    margin-bottom: 20px;
}

.banner-text {
	text-transform: none;
    line-height: 24px;
    margin-top: 0px;
    margin-bottom: 50px;
}

.banner-image {
    margin: 0px;
    margin-top: -353px;
    margin-left: 380px;
}

.button-banner {
margin-top: -17px;
margin-left: -8px;
border-radius: 3px;

}

.slider-scroll {
position: relative;
left: 149px;
top: -125px;
}

   

/*проекты */
.content-catalog {
display: grid;
    grid-template-columns: 500px 430px;
    grid-template-rows: 670px 670px;
    margin-right: -33px; 
}

.content-catalog figure{
	margin-right: 0;
	margin-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.sort {
	margin-top: 9px;
	margin-left: 138px;
	font-weight: 600;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-end: 1;
}

.sorn-item {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.sort-button {
	display: flex;
	padding-left: 252px;
	font-weight: 500;
	font-size: 14px;


}

.sort-button a {
	padding-left: 22px;
	opacity: 0.3;
	color: var(--bigtext-color);
}

.sort-button a:focus {
	opacity: 0.6;
	
}
.sort-button a:hover {
	opacity: 0.6;
	color: var(--bigtext-color);
}

.sort-button a:active {
	opacity: 1;
	color: var(--bigtext-color);
}

.sort-method{
	margin-left: 44px;
	margin-top: 13px;
	
}




.sorting-methods-button {
  display: inline-block;
  width: 0;
  height: 0;

  vertical-align: middle;

  border-right: 5px solid transparent;
  border-bottom: 9px solid #000000;
  border-left: 5px solid transparent;
  opacity: 0.3;
 

}

.sorting-methods-button-down {
 margin-right: 15px;
 transform: rotate(180deg);

}



.sorting-methods-button:hover {
  opacity: 0.6;
}

.sorting-methods-button:focus {
  opacity: 1;
}


.project-sedona {
	margin-top:35px;
	margin-left: 139px;
}

.project-pink {
	margin-top:35px;
	margin-left: 40px;
}

.project-borodinski {
	margin-left: 140px;
	margin-top: 13px;
}

.project-mishka {
	margin-top: 16px;
	margin-left: 40px;
}

.project-aplus {
margin-top: -6px;
margin-left: 139px;
}

.project-kvast {
	margin-top: -5px;
	margin-left: 40px;
}

.container {
	display: flex;
	justify-content: center;
}

.cart-tovar{
	position: relative;
}

.catalog-info {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 245px;
  padding-top: 26px;
  padding-right: 55px;
  padding-bottom: 43px;
  padding-left: 60px;
  font-size: 16px;
  text-align: center;
  background-color: var(--basic-header);
  transform: scaleY(0);
  transform-origin: bottom;
 transition-timing-function: ease-in-out;
  transition-duration: 750ms;
}

.cart-tovar:hover .catalog-info {
  transform: scaleY(1);
}

.catalog-name {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.667;
  color: var(--bigtext-color);
  text-transform: uppercase;
}

.catalog-description {
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 1.125;
  color: #666666;
}

.catalog-price {
  padding-right: 60px;
  padding-left: 60px;
}


/*пагинация*/
.pagination {
  margin: 48px;
  margin-left: 138px;
  margin-bottom: 59px;
  padding-left: 0;
  grid-column-start: 1;
  grid-column-end: 3;

  list-style: none;
}

.pagination-item {
  display: inline-block;
  margin-right: 7px;

  vertical-align: top;
}

.pagination-link {
  display: inline-block;
  width: 50px;
  padding: 16px 0;

  font-size: 16px;
  line-height: 1.125;
  text-align: center;
  color: var(--bigtext-color);
  text-transform: uppercase;

  background-color: var(--basic-header);
  border-radius: 2px;
}

.pagination-link:hover {
  background-color: var(--button-catalog-aim-on);
}

.pagination-link:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: var(--button-push)
  
}

.pagination-link-size {
	width: 260px;
}

/*фильтры с переключателем*/

.filters {
  margin-top: 20px;
}

.filter-section {
  padding-top: 56px;
  margin-left: -4px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  border: none;
}

.filter fieldset:first-child {
  margin-bottom: 26px;
}

.filter legend {
  margin-bottom: 22px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
}

.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 18px;
}

.filter-option {
  margin-bottom: 22px;
  padding-left: 40px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox:hover + label {
  opacity: 1;
}

.filter-input-checkbox:active + label {
  opacity: 0.1;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -37px;
  top: -5px;
  width: 26px;
  height: 23px;
  opacity: 0.4;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -37px;
  width: 26px;
  height: 23px;
  /*background: var(--radio-chekbox-botton);*/
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  
}


.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: -3px;
  width: 25px;
  height: 25px;
  opacity: 0.4;
  border-radius: 50%;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -36px;
  width: 25px;
  height: 25px;
  /*background: var(--radio-chekbox-botton);*/
  border-radius: 50%;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*все кнопки */
.button-red {
	font-size: inherit;
	text-align: center;
	color: var(--social-network-icon);
	background-color: var(--button-pease);
	border:none;
	width: 240px;
	height: 50px;
}
.button-red:hover,
.button-red:focus {
	background-color: var(--button-aim-on);
}

.button-red:active {
	background-color: var(--button-push);
}

.features-button-red {
	
	padding: -25px;
	width: 160px;
	font-size: inherit;
	text-align: center;
	color: var(--social-network-icon);
	background-color: var(--button-pease);
	border:none;
	height: 50px;
	margin-top: 26px;
	margin-left: 0px;
	border-radius: 3px;
}

.features-button-red:hover,
.features-button-red:focus {
	background-color: var(--button-aim-on);
}

.features-button-red:active {
	background-color: var(--button-push);
}

.features-button-green {
	font-size: inherit;
	text-align: center;
	color: var(--social-network-icon);
	background-color: var(--button-green-pease);
	border:none;
	width: 160px;
	height: 50px;
	margin-top: 26px;
	margin-left: 0px;
	border-radius: 3px;
}
.features-button-green:hover,
.features-button-green:focus {
	background-color: var(--button-green-aim-on);
}

.features-button-green:active {
	background-color: var(--button-green-push);
}
.features-button-yellow {
	font-size: inherit;
	text-align: center;
	color: var(--social-network-icon);
	background-color: var(--button-yellow-pease);
	border:none;
	width: 160px;
	height: 50px;
	margin-top: 26px;
	margin-left: 0px;
	border-radius: 3px;
}
.features-button-yellow:hover,
.features-button-yellow:focus {
	background-color: var(--button-yellow-aim-on);
}

.features-button-yellow:active {
	background-color: var(--button-yellow-push);
}

.button-filter {
	font-size: inherit;
	text-align: center;
	color: var(--bigtext-color);
	background-color: var(--basic-header);
	border:none;
	width: 260px;
	height: 50px;
	margin-left: 2px;
	margin-top: -3px;
	border-radius: 3px;
}

.button-filter:hover,
.button-filter:focus {
	background-color: var(--button-catalog-aim-on);
}

.button-filter:active {
	background-color: var(--button-push);
}

/*футер*/

.footer-content{
width: 1200px;
margin: 0 auto;
padding: 0 20px;
display: flex;
align-items: self-start;
padding-top: 45px;
}
.footer-icon {
	min-width: 270px;
	display: flex;
	flex-wrap: wrap;
	margin-top: 26px;
	margin-bottom: 0px;
	margin-right: 130px;
	padding-left: 23px;

}

.social-item:not(:last-child) {
margin-right: 13px;
}

.footer-description {
	margin-top: -3px;
	
}
.footer-text {
	font-size: 36px;
	color: var(--bigtext-color);
	margin-bottom: -6px;
	line-height: 1;
	font-weight: 700;
	
}

.social-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80px;
	height: 80px;
	background: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
	border-radius: 50%;
}

.social-icon:hover {
  background: linear-gradient(0deg, #E74246, #E74246), #FFFFFF;
}

.social-icon:active {
  background: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
  
}

.social-icon:active img {
  opacity: 0.3;
}



/*фильтр с ползунком*/

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}
.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  font-family: inherit;
  font-size: inherit;
}

/*всплывающее окно на главной странице(которое большое, поверх карты)
*/ 
.popup {
  display: none;
  position: fixed;
  bottom: 24px;
  width: 761px;
  left: 25%;
  z-index: 3;
  padding-top: 73px;
  padding-right: 100px;
  padding-bottom: 84px;
  padding-left: 100px;
  background-color: var(--social-network-icon);
  opacity: 1;
  
}

.popup-show {
display: block;
animation: bounce 0.6s;
}
.popup-hide {
   animation-name: hide-form;
   animation-duration: 250ms;
   animation-fill-mode: forwards;
}

.popup-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 45px;
  line-height: 1;
  color: var(--bigtext-color);
}

.popup-label {
  font-weight: 700;
  
}

.popup-button {
  padding-right: 90px;
  padding-left: 78px;
  width: 260px;
  border: none;
}

.popup-close {
  position: absolute;
  top: 78px;
  right: 90px;
  width: 21px;
  height: 21px;
  border: none;
  cursor: pointer;
  opacity: 0.3;
  background: var(--social-network-icon);
}

.popup-close::before {
  content: "";
  position: absolute;
  right: 0;
  width: 28px;
  height: 4px;
  /*background-image: url("../img/close-cross.svg");*/
  background-color: #ff555a;
  border-radius: 3px;
}

.popup-close::after {
  content: "";
  position: absolute;
  right: 0;
  width: 28px;
  height: 4px;
  /*background-image: url("../img/close-cross.svg");*/
  background-color: #ff555a;
  border-radius: 3px;
} 
.popup-close::before {
  transform: rotate(45deg);
}

.popup-close::after {
  transform: rotate(-45deg);
}

.popup-close:hover,
.popup-close:focus {
  opacity: 1;
}

.popup-close:active {
  opacity: 0.1;
}

.popup-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.popup-group {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin-top: 0;
  margin-bottom: 35px;

}

.popup-wide {
  width: 760px;
  margin-bottom: 47px;
}

.popup-label {
  margin-bottom: 12px;
}

.popup-group input,
.popup-group textarea {
  padding-left: 15px;
  color: #000000;
  border: 2px solid #d7dcde;
  border-radius: 2px;
}

.popup-group input::placeholder,
.popup-group textarea::placeholder {
  color: rgba(0,0,0,0.5);
}

.popup-group input:hover,
.popup-group textarea:hover {
  border-color: #b4b9bb;
}

.popup-group input:focus,
.popup-group textarea:focus {
  color: #000000;
  border-color: #000000;
  outline: none;
}

.popup-group input {
  padding-top: 15px;
  padding-bottom: 15px;
}

.popup-group textarea {
  min-height: 118px;
  padding-top: 10px;
}

